<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Status</title>
</head>

<body>
    <%- messages('message.ejs', locals) %>

        <h1 style="text-align:center;">Editing President <%=article.author%>'s page was successful</h1>
        <div style="text-align:center;">
            <a href="/">Return to Home</a>
        </div>
</body>

</html>