<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <title>Article Collection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Article Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <%if(user) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/add">Add</a>
                    </li>
                    <%}%>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- <a class="dropdown-item" href="#">Change</a> -->
                                <a class="dropdown-item" href="/articles/edit">Edit</a>
                                <!-- <div class="dropdown-divider"></div> -->
                                <a class="dropdown-item" href="/articles/delete">Delete</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <% if(user) { %>
                <ul class="navbar-nav my-1 my-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    <%} else {%>
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/users/register">Register</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/users/login">Login</a>
                            </li>
                        </ul>
                        <%}%>
                            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div style="margin:5px 10px 15px 10px; padding:1% 15% 0 15%;">
        <%- messages('message.ejs', locals) %>

            <h1 style="padding: 1px 0 0 10px;">
                <%=title%>
            </h1>
            <ul>
                <% for(let article of articles) { %>
                    <% const articleLink="/articles/" + article._id;%>
                        <li class="list-group-item">
                            <a href=<%=articleLink%>>
                                <%=article.title%>
                            </a>
                        </li>
                        <% } %>
            </ul>
            <br>
            <hr>
            <footer>
                <p>© 2022 IIT Mandi</p>
            </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>